.full-box{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    margin-bottom: 10px;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
    background-color: whitesmoke;
}

body{
    background-color: green;
}