.doboz
{
    border: 5px solid black;
    padding: 15px;
    margin: 10px 0;
    background-color: white;
}

.piros
{
    color: red;
    font-size: large;
}

.kek
{
    color: blue;
    font-size: large;
}

body
{
    background-color: brown;
    font-family: "Comic Sans MS", cursive;
}
button
{
    font-family: "Comic Sans MS", cursive;
}